* {
	box-sizing: border-box;
	outline: red 1px solid;
}


.navbar {
	position: fixed;
}

/* Marketing statement */
.banner {
	margin-top: 2rem;
}

/* Contains three key parts */
.middle-section {
	margin-top: 5rem;
}

.middle-section > .skills {

}

.middle-section > .portfolio {

}

.middle-section > .interview-skills {

}

/* Contains trending items - success profiles */
.right-column {

}


.footer {
	position: fixed;
}