* {
	outline: red 1px solid;
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5 {
	margin: 0;
}

.wrapper {
	margin: 1em auto;
	padding: 0em auto;
}

.navbar {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 0em 1em;
	background-color: #FFF890;
}

.logo {
	display: inline-block;
}

.navbar > ul {
	list-style: none;
	display: inline-block;
}

ul li {
	display: inline;
}

/* Marketing statement */
.banner {
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 0.5em 1em;
}

/* Contains three key parts */
.testimonial {
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}

.skill-tracker, .portfolio, .interview-skills {
	width: 100%;
}


.skill-tracker {
	display: inline-block;
	margin: 1em 1em;

}

.portfolio {
	display: inline-block;
	margin: 1em 1em;

}

.interview-skills {
	display: inline-block;
	margin: 1em 1em;

}

/* Contains trending items - success profiles 
.right-column {
	display: inline-block;
	margin: 1em 1em;
	width: 100%;
	padding: 1em 1em;
}
*/


.footer {
	display: block;
	position: relative;
	width: 100%;
	margin: 1em auto;
	padding: 1.5em 1em;
}